<launch>

<param name="robot_description" textfile="$(find tiago_dual_cartesio_config)/capsules/urdf/tiago_dual_capsules.rviz"/>

<node pkg="robot_state_publisher" type="robot_state_publisher" name="robot_state_publisher" output="screen" >
	<param name="publish_frequency" type="double" value="250.0" />
</node>

<node type="rviz" name="rviz" pkg="rviz" args="-d $(find tiago_dual_cartesio_config)/capsules/launch/viz.rviz"/>

<node name="joint_state_publisher_gui" pkg="joint_state_publisher_gui" type="joint_state_publisher_gui"/>

</launch>
